#IDDetalhesPedido {
    margin-left: auto;
    margin-right: auto;
    min-width: 400px; 
    background-color: #EEEEEE;
    min-height: 100vh;
}

.titulo-pedido{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

.img-user {
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 5px;
}

.categoria {
    display: flex;
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

#nomePedidoItem {
    margin-right: -40px;
    margin-left: 20px;
}

.nome-pedido {
    display: block;
    margin-bottom: 2px solid black;
}

.back-btn {
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
    position: fixed;
}

#pedido-especifico {
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
    position: fixed;
}

#avaliacao-img {
    display: inline-block;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 40px;
}

#user-pedido {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.listagens {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 405px;
}

.img-user {
    border-radius: 100%;
}
