#IDMainScreen {
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    background-color: #EEEEEE;
    min-height: 100vh;
}

#iconeUsuario {
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
}

#iconeSino, #iconeFiltro {
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
    margin-left: 10px;
    float: right;
}

#adicionarPedido {
    position: fixed;
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
    right: 20px;
    bottom: 20px;
}

.card {
    max-height:400px;
    width: auto;
    height: auto;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 19px -2px rgba(0,0,0,0.81); 
    box-shadow: 5px 5px 19px -2px rgba(0,0,0,0.81);
    margin: 10px;
}

.card > img {
    display: flex;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.card-body {
    font-size: 1em;
    text-align: center;
}

nav {
    display: block;
    margin-left: 20px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#listaCards {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-user {
    border-radius: 100%;
}

.borda .img-user {
    border-radius: 100%;
}



